<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073722729662-jtc7bmlq3p53jb4fb4h9po7f97fbiea6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073722729662-jtc7bmlq3p53jb4fb4h9po7f97fbiea6</string>
	<key>API_KEY</key>
	<string>AIzaSyC6bdrWkHt3oXp_I2ZdsQK4fopLvmfWTZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1073722729662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielaraujos.swiftuiandcombine</string>
	<key>PROJECT_ID</key>
	<string>swiftcombine</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftcombine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073722729662:ios:92345c80cae8a5f428aaef</string>
</dict>
</plist>